<div>
  <form action='/login' method='POST'>
    <table>
    <tr>
      <td>ユーザーID:</td>
      <td><input type='userid' name='userid'></td>
    </tr>
    <tr>
      <td>パスワード:</td>
      <td><input type='password' name='password'></td>
    </tr>
    <tr>
      <td><input type='submit' value='Login!'></td>
    </tr>
    </table>
  </form>
</div>
